<html>
    <head>
        <title>
            <%= locals.title %>
           
        </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
        <!-- our css file should be below so that all other styles can override it -->
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <h1 id="page-heading">
            <i class="fa-solid fa-address-book"></i>
            My Contact List
        </h1>
        <div class="contact-container">
            <ul id="contact-list-container" >
                <% for(i of contact_list){%>    
                   
                    <li class="contact">
                        
                        <div class="details">
                            <p id="p1"><%= i.name%></p>
                            <p id="p2"><%= i.phone%></p>
                        </div>
                        <div class="delete-button">
                            <a href="/delete-contact/?id=<%=i._id%>">
                                <i class="fa-solid fa-rectangle-xmark"></i>
                            </a>
                        </div>
                        
                    </li>

                <%} %>
            </ul>
        </div>
        <form action="/create-contact"  method="POST" id="form-ip" >
            <input type="text" name="name" placeholder="Enter Name" required>
            <input type="number" name="phone" placeholder="Enter Phone" required>
            <button type="submit">Add</button>
        </form>
        <script src="/js/home.js"></script>
    </body>
</html>